.jumbotron {
    background-image: url(../images/RS37761_GettyImages-506514876.jpg);
    background-size: cover;
}

.home:hover {
    border-bottom: rgb(0, 68, 255) 3px solid;
}
.Book:hover {
    border-bottom: rgb(0, 68, 255) 3px solid;
}
.Styles:hover {
    border-bottom: rgb(0, 68, 255) 3px solid;
}
.Barbers:hover {
    border-bottom: rgb(0, 68, 255) 3px solid;
}

.p {
    font-weight:bolder;
}

img {
    width: 100%;
    overflow: hidden;
}

.barber:hover {
    transform: scale(1.1);
}

body {
    background-color: #000000;
}

.card-text {
    font-style: italic;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}